.time {
  height: 200px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1;


}

.time-clock {
  font-size: 150px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

@media(max-width: 600px) {
  .time-clock {
    font-size: 130px;
  }
}

/* message */


.message {
  font-size: 50px;
  text-align: center;
  white-space: nowrap;

  display: flex;
  align-items: center;
  cursor: default;

  position: absolute;
  left: 50%;
  transform: translate(-47%);
}

@media(max-width: 600px) {
  .message {
    font-size: 28px;
  }
}

.message:hover .focus-edit__items {
  opacity: 1;
}

.message .focus-edit__dropdown::after {
  content: '';
  position: absolute;
  right: 5px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid white;
}

.message input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  margin-left: 10px;
}