.welcome {
  position: absolute;
  width: 500px;
  height: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

@media (max-width: 600px) {
  .welcome {
    max-width: 360px;
  }
}

.welcom-question {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.welcome-input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  text-align: center;
  color: white;
  font-size: 50px;
}

@media (max-width: 600px) {
  .welcom-question {
    font-size: 30px;
  }

  .welcome-input {
    font-size: 35px;
  }
}
